@media screen and (max-width: 65px){
    html{
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }
    input{
      text-align: center;
    }
}

body{
  background-color:  #C7C1E8;
}
html{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
